flows.json
[{"id":"92eb98f.b0f7268","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d29f1568.92eed8","type":"git-nodes-config","z":"","name":"Converte","git":"git@github.com:geosoftbr/converte.git"},{"id":"9b2fb8da.513d18","type":"http response","z":"92eb98f.b0f7268","name":"Response","statusCode":"","headers":{},"x":860,"y":140,"wires":[]},{"id":"1d0fe2fb.fade0d","type":"http request","z":"92eb98f.b0f7268","name":"showIP","method":"GET","ret":"obj","url":"https://freegeoip.net/json/","tls":"","x":380,"y":780,"wires":[["bae35b06.824dc8"]]},{"id":"9c7f3a47.853dd8","type":"inject","z":"92eb98f.b0f7268","name":"getIP","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":780,"wires":[["1d0fe2fb.fade0d"]]},{"id":"7ebc91fc.f1374","type":"comment","z":"92eb98f.b0f7268","name":"Funções","info":"## IP\n    - Pegando IP via Request Headers\n    - A API estava buscando apenas o IP do servidor\n\n## Cotação\n    - Utiliza a seguinte API para cotação do Dolar Turismo: \n    URL: https://github.com/raniellyferreira/economy-api","x":80,"y":300,"wires":[]},{"id":"428bf93f.17cd38","type":"comment","z":"92eb98f.b0f7268","name":"APP","info":"## Change Log\n\n### V0.1\n    - Cartão de Crédito (ok)\n    - Dólar - Banco (ok)\n    - IOF (ok)\n    - Dinheiro (ok)\n    - Baseado na planilha que está no Google Drive (ok)\n    - Pegar IP (ok)\n\n### V0.2\n    - Interface Responsiva (ok)\n    - Campos ajustados (ok)\n    - Imagens nos labels (ok)\n    - Clausula de isenção (ok)\n    - Display de valores de referência (ok)\n    - Copyright (ok)\n    - Ajuste de segurança a pedido do Google (ok)\n\n### V1.0\n    - Dolar Turismo\n    - Usar API\n    - Ajustes no registro do IP\n    - Favicon\n    - Nova URL http://muambacalc.mybluemix.net/\n### V1.5\n    - Cotação mostrada na tela inicial\n    - Variação da cotação mostrada através de emojis\n    - Beta de registro histórico de cotação\n### V1.7(Live)\n    - Emoji indicativo na contação do Dolar na página principal\n    - Emoji indicativo na contação do Dolar no painel de cotações\n    - Cotação de outras moedas no painel de cotações\n    - Registro da cotação do dólar 9x durante o dia e armazenado em DB\n    - Histórico de 2 dias da cotação do Dolar\n    - Painel com gráfico acessado no ícone de gráfico ou na url /dolar\n### V2.0 (WORKING PROGRESS)\n    - Mudança de framework\n    - Crianção de Manifest para WebApp (PWA)\n    - Mudança de tema de cores","x":70,"y":40,"wires":[]},{"id":"5141c5ea.4f103c","type":"debug","z":"92eb98f.b0f7268","name":"","active":false,"console":"false","complete":"payload","x":950,"y":760,"wires":[]},{"id":"5f62fda5.988e04","type":"http request","z":"92eb98f.b0f7268","name":"showDolar","method":"GET","ret":"obj","url":"http://economia.awesomeapi.com.br/USD-BRLT/1?format=json","tls":"","x":370,"y":360,"wires":[["dccb0975.636b18"]]},{"id":"2cbbbf3b.01875","type":"inject","z":"92eb98f.b0f7268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":360,"wires":[["5f62fda5.988e04"]]},{"id":"350f70ed.f0a88","type":"comment","z":"92eb98f.b0f7268","name":"Logging","info":"## Registro das Atividades\n\n### Pegar IP\n    Lê o cabeçalho da requisição HTTP e pega o endereço IP\n### Grava DB\n    Gravação periódica das cotações para geração de gráfico histórico","x":80,"y":660,"wires":[]},{"id":"dccb0975.636b18","type":"function","z":"92eb98f.b0f7268","name":"cotacao","func":"msg.topic=\"cambio\";\nglobal.set(\"dTurismo\",msg.payload[0].ask);\nglobal.set(\"timeTurismo\",msg.payload[0].create_date);\nglobal.set(\"varBid\",msg.payload[0].varBid);","outputs":1,"noerr":0,"x":540,"y":360,"wires":[[]]},{"id":"67b5bb7f.e74434","type":"http in","z":"92eb98f.b0f7268","name":"","url":"/app","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["5f62fda5.988e04","7ab974de.41720c","b45c214e.dba38"]]},{"id":"a1b3422a.fd7a6","type":"http response","z":"92eb98f.b0f7268","name":"v1","statusCode":"","headers":{},"x":850,"y":100,"wires":[]},{"id":"bae35b06.824dc8","type":"function","z":"92eb98f.b0f7268","name":"IP","func":"msg.topic=\"GetIp\";\nglobal.set(\"myIP\",msg.payload.ip);\nmsg.IP = msg.payload.ip;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":780,"wires":[[]]},{"id":"8a80532c.b78cd","type":"function","z":"92eb98f.b0f7268","name":"Pega IP","func":"address = msg.req.headers[\"x-client-ip\"];\ntimestamp = msg.req.headers[\"x-request-start\"];\ndate = new Date();\n//timestamp*1000\nd = date.toLocaleDateString();\n//global.set(\"meuIP\",address);\nmsg.topic=\"GravaAcesso\";\nmsg.payload.ip = address.toString();\nmsg.payload.date = d.toString();\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":740,"wires":[["76eefb8a.327364"]]},{"id":"92ad3181.20dc3","type":"debug","z":"92eb98f.b0f7268","name":"","active":false,"console":"false","complete":"true","x":490,"y":1040,"wires":[]},{"id":"7ab974de.41720c","type":"template","z":"92eb98f.b0f7268","name":"Code V1.7","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n\n<title>Calculadora de Muamba</title>\n<head>\n    <!-- Global site tag (gtag.js) - Google Analytics -->\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-114873381-1\"></script>\n    <script>\n      window.dataLayer = window.dataLayer || [];\n      function gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n    \n      gtag('config', 'UA-114873381-1');\n    </script>\n\n  <link rel=\"shortcut icon\" href=\"//www.techcetera.com.br/favcalc.ico\">\n  <meta charset=\"utf-8\" />\n  <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0\" />\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\n  <title>Calculo de Compras nos EUA</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\" />\n  <script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  <script src=\"//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/highcharts.js\"></script>\n  <script src=\"//cdn.jsdelivr.net/npm/vanilla-masker@1.1.1/build/vanilla-masker.min.js\"></script>\n  <link href=\"//afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n* {\n    box-sizing: border-box;\n}\n\nli {\n    background: lightgray;\n    margin: 6px;\n    color: #000;\n    border: 2px solid grey;\n    border-radius: 5px;\n    font-size: 16px;\n    text-shadow: 0 1px #ccc;\n    padding: 7px;\n}\n\nh4{\n\tfont-size: 11px;\n\tfont-style:oblique;\n\tfont-weight: bold;\n\ttext-align-last: left;\n}\nh5{\n\tfont-size: 10px;\n\tfont-style:oblique;\n\tfont-weight:lighter;\n\ttext-align-last: center;\n}\n\nbody{\n  font-size: 12px;\n  font-family: sans-serif;\n\n}\n\ninput[type=text], select, textarea{\n    width: 100%;\n    padding: 12px;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n    resize: vertical;\n}\n\nlabel {\n    padding: 12px 12px 12px 0;\n    display: inline-block;\n}\n\n\ninput[type=button] {\n    background-color: #4CAF50;\n    color: white;\n    padding: 12px 20px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    float: left;\n    font-size:12px;\n    font-family: sans-serif;\n}\ninput[type=reset] {\n    background-color: #4CAF50;\n    color: white;\n    padding: 12px 20px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    float: left;\n    font-size:12px;\n    font-family: sans-serif;\n}\n\ninput[type=button]:hover {\n    background-color: #45a049;\n}\ninput[type=reset]:hover {\n    background-color: #45a049;\n}\ninput[type=text], input[type=password], input[type=email] {\n    font-size: 20px;\n    box-sizing: border-box;\n}\n.container {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.col-25 {\n    float: left;\n    width: 25%;\n    margin-top: 6px;\n}\n\n.col-75 {\n    float: left;\n    width: 75%;\n    margin-top: 6px;\n}\n\n/* Clear floats after the columns */\n.row:after {\n    content: \"\";\n    display: table;\n    clear: both;\n}\n.disabledInput {\n    color: red;\n}\n\n\n/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */\n\n  @media only screen and (min-width: 521px){\n    #header1 {width: 475px !important;  margin:auto auto !important; position: relative !important; border:1px solid #1d1d1d;;}\n    #c1 {width: 475px !important; min-height:500px !important; margin:auto auto !important; position: relative !important; border:1px solid #1d1d1d;;}\n  }\n  .alert {font-weight: bold; color: #FF6C01;}\n  .smallin .ui-input-text {width: 200px !important; color:red;}\n  legend.h1lb {padding:10px 0 5px 0;}\n  .statusView {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#E9E9E9; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }\n  .statusViewAlert {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#F8B584 !important; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }\n  .ui-flipswitch {\"border-radius: 2em !important; -webkit-border-radius: 2em !important; -moz-border-radius: 2em !important;}\n  /* Active button */\n  .ui-page-theme-a .ui-btn.ui-btn-active,html .ui-bar-a .ui-btn.ui-btn-active,html .ui-body-a .ui-btn.ui-btn-active,html body .ui-group-theme-a .ui-btn.ui-btn-active,html head + body .ui-btn.ui-btn-a.ui-btn-active,\n  /* Active checkbox icon */\n  .ui-page-theme-a .ui-checkbox-on:after,html .ui-bar-a .ui-checkbox-on:after,html .ui-body-a .ui-checkbox-on:after,html body .ui-group-theme-a .ui-checkbox-on:after,.ui-btn.ui-checkbox-on.ui-btn-a:after,\n  /* Active flipswitch background */.ui-page-theme-a .ui-flipswitch-active,html .ui-bar-a .ui-flipswitch-active,html .ui-body-a .ui-flipswitch-active,html body .ui-group-theme-a .ui-flipswitch-active,\n  html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,\n  /* Active slider track */\n  .ui-page-theme-a .ui-slider-track .ui-btn-active,html .ui-bar-a .ui-slider-track .ui-btn-active,html .ui-body-a .ui-slider-track .ui-btn-active,html body .ui-group-theme-a .ui-slider-track .ui-btn-active,html body div.ui-slider-track.ui-body-a .ui-btn-active {\n    background-color: \t\t#FF6C01 !important;\n    border-color:\t \t\t#FF6C01 !important;\n    color: \t\t\t\t\t#fff /*{a-active-color}*/;\n    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;\n  }\n  .col-25, .col-75, input[type=button] {\n      width: 100%;\n      margin-top: 0;\n  }\n  .col-25, .col-75, input[type=reset] {\n      width: 100%;\n      margin-top: 0;\n  }\n\ninput[type=text], input[type=password], input[type=email] {\n    font-size:18px;\n\tmargin-left: 0px;\n    margin-right: 0px;\n    width: 100%;\n}\nfieldset {\n    padding: 10px;\n}\n</style>\n<script>\nwindow.onload = function()\n{\n   //Pegando os valores na carga do app\n\tvar iof = 0.0638;\n\tvar impostoBR = 0.6;\n\tvar txDolar = {{{global.dTurismo}}}; //vai mudar para busca dinamica --- dolar turismo\n\tvar dife = {{{global.varBid}}};\n  var txtCad = {{{global.cad}}};\n  var difCad =  {{{global.cadVarBid}}};\n  var txtEur = {{{global.eur}}};\n  var difEur = {{{global.eurVarBid}}};\n  var txtGbp = {{{global.gbp}}};\n  var difGbp = {{{global.gbpVarBid}}};\n  var txtArs = {{{global.ars}}};\n  var difArs = {{{global.arsVarBid}}};\n  var txtBtc = {{{global.btc}}};\n  var difBtc = {{{global.cadVarBid}}};\n\n\tdocument.getElementById(\"impostoIOF\").innerHTML = \"💳 IOF \"+((iof*100).toLocaleString('pt-BR'))+\"%\";\n\t//document.getElementById(\"dolar\").innerHTML = \"Dolar Turismo: R$ \" +txDolar.toLocaleString('pt-BR');\n\tif (dife < 0){\n\t   var txtDif = \"😁\";\n\n\t} else if (dife == 0) {\n\t    var txtDif = \"😐\";\n\n\t}else {\n\t    var txtDif = \"😡\";\n\n\t}\n\t//document.getElementById(\"diff\").innerHTML = txtDif;\n\tdocument.getElementById(\"dolarturismo\").innerHTML = \"🇺🇸 R$ \" +txDolar.toLocaleString('pt-BR')+\" \"+txtDif;\n\tdocument.getElementById(\"impostoRFB\").innerHTML = \"📈 RFB \"+((impostoBR*100).toLocaleString('pt-BR'))+\"%\";\n\tdocument.getElementById(\"diff\").innerHTML = \"R$ \" +txDolar.toLocaleString('pt-BR')+\" \"+txtDif;\n\t\n\t//outras moedas\n\tdocument.getElementById(\"cad\").innerHTML = \"🇨🇦 R$ \" +txtCad.toLocaleString('pt-BR');\n\tdocument.getElementById(\"eur\").innerHTML = \"🇪🇺 R$ \" +txtEur.toLocaleString('pt-BR');\n\tdocument.getElementById(\"gbp\").innerHTML = \"🇬🇧 R$ \" +txtGbp.toLocaleString('pt-BR');\n\tdocument.getElementById(\"ars\").innerHTML = \"🇦🇷 R$ \" +txtArs.toLocaleString('pt-BR');\n\tdocument.getElementById(\"btc\").innerHTML = \"BTC$ R$ \" +txtBtc.toLocaleString('pt-BR');\n\n// Fixa o campo de entrada de valor, aceitando apenas valores em DOLAR\n    VMasker(document.getElementById(\"vl1\")).maskMoney({separator: ','});\n    VMasker(document.getElementById(\"vl1\")).maskMoney({delimiter: '.'});\n}\n</script>\n<script type=\"text/javascript\">\nfunction calcular() {\n\t//essa função tem q sair daqui e ir para outro local (sem acesso) aqui só deve aparecer o resultado\n\n  var iof = 0.0638;\n\tvar impostoBR = 0.6;\n\tvar txDolar = {{{global.dTurismo}}};\n\n//remove virgula e ponto\n   var preval1 = (document.frm01.vlrDolar.value).replace(\".\",\"\");\n   var preval = (preval1).replace(\",\",\".\");\n   console.log(\"Valor de Entrada: \"+preval);\n\n   var valor1 = preval;\n   console.log(\"VALOR DOLAR: \"+valor1);\n\n   var vlrIOF = valor1 * iof;\n   console.log(\"VALOR IOF: \"+vlrIOF);\n\n   var vlrIOF_Real = vlrIOF * txDolar;\n   console.log(\"VALOR IOF EM REAL: \"+vlrIOF_Real);\n\n   var resAVISTA = valor1 * txDolar;\n   console.log(\"RESULTADO AVISTA EM REAL: \"+resAVISTA);\n\n   var resCOMPRA_US = resAVISTA + vlrIOF_Real;\n   console.log(\"RESULTADO COMPRAS US CARTAO: \"+resCOMPRA_US);\n\n   var txRFB = resAVISTA * impostoBR;\n   console.log(\"TAXA 60%: \"+txRFB);\n\n   var resRFB = resCOMPRA_US + txRFB;\n   console.log(\"RESULTADO RFB: \"+resRFB);\n\n \tvalorAvista = parseFloat(Math.round(resAVISTA * 100) / 100).toFixed(2);\n\tvalorCartao = parseFloat(Math.round(resCOMPRA_US * 100) / 100).toFixed(2);\n\tvalorEntrega = parseFloat(Math.round(resRFB * 100) / 100).toFixed(2);\n\n   document.frm01.showBR.value = \"R$ \" +(valorAvista.replace(\".\" , \",\"));\n   document.frm01.showUS.value = \"R$ \" +(valorCartao.replace(\".\" , \",\"));\n   document.frm01.showRFB.value = \"R$ \" +(valorEntrega.replace(\".\" , \",\"));\n\n}\n</script>\n</head>\n<body>\n<div data-theme=\"b\" data-role=\"page\" class=\"jqm-demos ui-responsive-panel \" id=\"panel-responsive-page1\" data-title=\"Cálculo de Compras em Dolar\">\n\t<div data-role=\"header\" data-position=\"inline\">\n\t\t<div align=\"center\" data-role=\"controlgroup\" data-type=\"horizontal\" class=\"ui-corner-all\">\n\t\t\t<a href=\"#\" title=\"Refazer\" onclick=\"location.reload()\" class=\"ui-btn ui-shadow ui-corner-all ui-icon-refresh ui-btn-icon-notext ui-btn-inline\" id=\"b1\">Reiniciar</a>\n\t\t\t<a href=\"#\" class=\"ui-btn ui-corner-all\">Cálculadora de Compras</a>\n\t\t\t<a href=\"#graph\" class=\"ui-btn ui-shadow ui-corner-all\" data-iconpos=\"notext\" class=\"ui-btn ui-corner-all\" >📊</a>\n\t\t\t<a href=\"#add-form-info\" data-icon=\"info\" data-iconpos=\"notext\" class=\"ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-info ui-btn-inline ui-btn-icon-notext\" >Sobre</a>\n\t\t\t<a href=\"#add-form\" id=\"diff\" class=\"ui-btn ui-corner-all\">...</a>\n\t\t</div>\n\t</div>\n\t<div class=\"ui-content\" data-role=\"content\">\n\t\t<form action=\"calc.html\" name=\"frm01\" method=\"GET\">\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl1\" style=\"margin:-3px 2% 0px 0px\"><strong>Valor em (USD) 🇺🇸</strong></label>\n\t\t\t\t<input id=\"vl1\" type=\"text\" name=\"vlrDolar\" value=\"0,00\">\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<input type=\"button\" value=\"Converter para Real e Calcular\" class=\"botao\" onClick=\"calcular()\"/>\n\t\t\t</div>\n\t\t\t<div align=\"center\">\n                <script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script>\n                <!-- Calc_Tech -->\n                <ins class=\"adsbygoogle\"\n                     style=\"display:inline-block;width:320px;height:100px\"\n                     data-ad-client=\"ca-pub-9671027789462939\"\n                     data-ad-slot=\"7857746941\"></ins>\n                <script>\n                (adsbygoogle = window.adsbygoogle || []).push({});\n                </script>\n            </div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl2\" ><strong>À Vista 💵</strong></label>\n\t\t\t\t<input class=\"disabledInput\" id= \"vl2\" type=\"text\" name=\"showBR\" id=\"showBR\" readonly/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl3\" style=\"margin:-3px 2% 0px 0px\"><strong>Cartão de Crédito 💳</strong></label>\n\t\t\t\t<input id=\"vl3\" type=\"text\" name=\"showUS\" id=\"showUS\"  readonly/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl4\" style=\"margin:-3px 2% 0px 0px\"><strong>Entrega 🇧🇷</strong></label>\n\t\t\t\t<input id=\"vl4\" type=\"text\" name=\"showRFB\" id=\"showRFB\"  readonly/>\n\t\t\t</div>\n            <div align=\"center\">\n                <script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script>\n                <!-- Calc_Tech -->\n                <ins class=\"adsbygoogle\"\n                     style=\"display:inline-block;width:320px;height:100px\"\n                     data-ad-client=\"ca-pub-9671027789462939\"\n                     data-ad-slot=\"7857746941\"></ins>\n                <script>\n                (adsbygoogle = window.adsbygoogle || []).push({});\n                </script>\n            </div>\n\t\t</form>\n\n\t</div>\n\t\t\t<!-- /panel -->\n\n\t<div data-role=\"panel\" data-position=\"right\" data-display=\"overlay\" data-theme=\"b\" id=\"add-form\">\n\n        <form class=\"userform\">\n\n        \t<h2>Cotações</h2>\n            <h3><label id=\"dolarturismo\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"cad\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"eur\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"gbp\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"ars\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"btc\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"horaAtual\" style=\"font-size:11px; padding:2px\">Atualizado em: {{{global.timeTurismo}}} </label></h3>\n            <hr>\n            <h2>Impostos</h2>\n            <h3><label id=\"impostoIOF\" style=\"font-size:14px; padding:2px\"> </label></h3>\n\t\t    <h3><label id=\"impostoRFB\" style=\"font-size:14px; padding:2px\"> </label></h3>\n        </form>\n\n\t</div><!-- /panel -->\n\t<div data-role=\"panel\" data-position=\"right\" data-display=\"overlay\" data-theme=\"b\" id=\"add-form-info\">\n\n        <form class=\"userform\">\n\n      <h1><strong>Atenção!</strong></h1>\n      <br>\n      <li>Os valores apresentados não devem ser considerados como valores finais dos produtos, existirão diferenças de tarifas cambiais<br></li>\n      <li>O cálculo de imposto da RFB pode variar de acordo com o bem que está sendo adquirido, pois esta versão do aplicativo não leva em conta o valor do frete.</li>\n      <br>\n      <h3>V1.7 <br><label id=\"created\" style=\"font-size:11px; padding:2px\">&#9400;2017 <a href=\"http://www.computercorp.com.br\" target=\"_blank\">Computer Corp</a>\n        <br>&#9400;2017 <a href=\"http://www.georgearaujo.com.br/\" target=\"_blank\">George Araujo</b></a></label></h3>\n\n\n        </form>\n\n  </div>\n    <div data-role=\"footer\" data-theme=\"b\">\n\t\t<h4>Calculadora de Compras V1.7 última atualização: 18/02/2018 </h4>\n\t</div><!-- /footer -->\n</div><!-- Final da Primeira Página -->\n<!-- Start of second page -->\n<div data-role=\"page\" id=\"graph\" class=\"ui-content\" data-theme=\"a\" style=\"background-color:#212121\">\n    <div data-role=\"header\" data-theme=\"a\">\n\t\t<h1>Gráfico de Variação do Dolar</h1>\n\t</div><!-- /header -->\n    <iframe src=\"/dolar\" width=\"100%\" height=\"550\" seamless=\"\"></iframe>\n    <p><a href=\"#hist\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b ui-bar-inherit\">Histórico</a></p>\n    <p><a href=\"#panel-responsive-page1\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b ui-bar-inherit\">Voltar</a></p>\n    <div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Última Atualização: {{{global.timeTurismo}}} </h4>\n\t</div><!-- /footer -->\n</div><!-- /page two -->\n</div><!-- Final da segunda pagina -->\n<!-- Start of thrid page -->\n<div data-role=\"page\" id=\"hist\" class=\"ui-content\" data-theme=\"a\" style=\"background-color:#212121\">\n    <div data-role=\"header\" data-theme=\"a\">\n\t\t<h1>Histórico de Variação do Dolar</h1>\n\t</div><!-- /header -->\n    <iframe src=\"/hist\" width=\"100%\" height=\"550\" seamless=\"\"></iframe>\n    <p><a href=\"#panel-responsive-page1\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b ui-bar-inherit\">Voltar</a></p>\n    <div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Última Atualização: {{{global.timeTurismo}}} </h4>\n\t</div><!-- /footer -->\n</div><!-- /page tree -->\n</div><!-- Final da terceira pagina -->\n\n</body>\n</html>\n","output":"str","x":489.5,"y":198,"wires":[["a1b3422a.fd7a6"]]},{"id":"841bf2bd.89fb7","type":"http in","z":"92eb98f.b0f7268","name":"","url":"/beta","method":"get","upload":false,"swaggerDoc":"","x":99.5,"y":139,"wires":[["ea880237.a6335","b45c214e.dba38"]]},{"id":"ea880237.a6335","type":"template","z":"92eb98f.b0f7268","name":"Code V1.8b","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n\n<title>Calculadora de Muamba</title>\n<head>\n    \n    <!-- Global site tag (gtag.js) - Google Analytics -->\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-114873381-1\"></script>\n    <script>\n      window.dataLayer = window.dataLayer || [];\n      function gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n    \n      gtag('config', 'UA-114873381-1');\n    </script>\n    \n  <link rel=\"shortcut icon\" href=\"//www.techcetera.com.br/favcalc.ico\">\n  <meta charset=\"utf-8\" />\n  <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0\" />\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\n  <title>Calculo de Compras nos EUA</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\" />\n  <script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  <script src=\"//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/highcharts.js\"></script>\n  <script src=\"//cdn.jsdelivr.net/npm/vanilla-masker@1.1.1/build/vanilla-masker.min.js\"></script>\n  <link href=\"//afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n* {\n    box-sizing: border-box;\n}\n\nli {\n    background: lightgray;\n    margin: 6px;\n    color: #000;\n    border: 2px solid grey;\n    border-radius: 5px;\n    font-size: 16px;\n    text-shadow: 0 1px #ccc;\n    padding: 7px;\n}\n\nh4{\n\tfont-size: 11px;\n\tfont-style:oblique;\n\tfont-weight: bold;\n\ttext-align-last: left;\n}\nh5{\n\tfont-size: 10px;\n\tfont-style:oblique;\n\tfont-weight:lighter;\n\ttext-align-last: center;\n}\n\nbody{\n  font-size: 12px;\n  font-family: sans-serif;\n\n}\n\ninput[type=text], select, textarea{\n    width: 100%;\n    padding: 12px;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n    resize: vertical;\n}\n\nlabel {\n    padding: 12px 12px 12px 0;\n    display: inline-block;\n}\n\n\ninput[type=button] {\n    background-color: #4CAF50;\n    color: white;\n    padding: 12px 20px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    float: left;\n    font-size:12px;\n    font-family: sans-serif;\n}\ninput[type=reset] {\n    background-color: #4CAF50;\n    color: white;\n    padding: 12px 20px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    float: left;\n    font-size:12px;\n    font-family: sans-serif;\n}\n\ninput[type=button]:hover {\n    background-color: #45a049;\n}\ninput[type=reset]:hover {\n    background-color: #45a049;\n}\ninput[type=text], input[type=password], input[type=email] {\n    font-size: 20px;\n    box-sizing: border-box;\n}\n.container {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.col-25 {\n    float: left;\n    width: 25%;\n    margin-top: 6px;\n}\n\n.col-75 {\n    float: left;\n    width: 75%;\n    margin-top: 6px;\n}\n\n/* Clear floats after the columns */\n.row:after {\n    content: \"\";\n    display: table;\n    clear: both;\n}\n.disabledInput {\n    color: red;\n}\n\n\n/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */\n\n  @media only screen and (min-width: 521px){\n    #header1 {width: 475px !important;  margin:auto auto !important; position: relative !important; border:1px solid #1d1d1d;;}\n    #c1 {width: 475px !important; min-height:500px !important; margin:auto auto !important; position: relative !important; border:1px solid #1d1d1d;;}\n    .ui-panel {\n\t\twidth: 20em;\n\t}\n  }\n\t@media ( min-width: 53em ) {\n    \t/* wrap on wide viewports once open */\n    \t.ui-panel {\n    \t\twidth: 29em;\n    \t}\n    \t/* same as the above but for panels with display mode \"push\" only */\n    \t.ui-panel-page-content-open.ui-panel-page-content-display-push {\n    \t\twidth: auto;\n    \t}\n    \t.ui-panel-dismiss-display-push {\n    \t\tdisplay: none;\n    \t}\n\t}\n  .alert {font-weight: bold; color: #FF6C01;}\n  .smallin .ui-input-text {width: 200px !important; color:red;}\n  legend.h1lb {padding:10px 0 5px 0;}\n  .statusView {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#E9E9E9; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }\n  .statusViewAlert {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#F8B584 !important; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }\n  .ui-flipswitch {\"border-radius: 2em !important; -webkit-border-radius: 2em !important; -moz-border-radius: 2em !important;}\n  /* Active button */\n  .ui-page-theme-a .ui-btn.ui-btn-active,html .ui-bar-a .ui-btn.ui-btn-active,html .ui-body-a .ui-btn.ui-btn-active,html body .ui-group-theme-a .ui-btn.ui-btn-active,html head + body .ui-btn.ui-btn-a.ui-btn-active,\n  /* Active checkbox icon */\n  .ui-page-theme-a .ui-checkbox-on:after,html .ui-bar-a .ui-checkbox-on:after,html .ui-body-a .ui-checkbox-on:after,html body .ui-group-theme-a .ui-checkbox-on:after,.ui-btn.ui-checkbox-on.ui-btn-a:after,\n  /* Active flipswitch background */.ui-page-theme-a .ui-flipswitch-active,html .ui-bar-a .ui-flipswitch-active,html .ui-body-a .ui-flipswitch-active,html body .ui-group-theme-a .ui-flipswitch-active,\n  html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,\n  /* Active slider track */\n  .ui-page-theme-a .ui-slider-track .ui-btn-active,html .ui-bar-a .ui-slider-track .ui-btn-active,html .ui-body-a .ui-slider-track .ui-btn-active,html body .ui-group-theme-a .ui-slider-track .ui-btn-active,html body div.ui-slider-track.ui-body-a .ui-btn-active {\n    background-color: \t\t#FF6C01 !important;\n    border-color:\t \t\t#FF6C01 !important;\n    color: \t\t\t\t\t#fff /*{a-active-color}*/;\n    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;\n  }\n  .col-25, .col-75, input[type=button] {\n      width: 100%;\n      margin-top: 0;\n  }\n  .col-25, .col-75, input[type=reset] {\n      width: 100%;\n      margin-top: 0;\n  }\n\ninput[type=text], input[type=password], input[type=email] {\n    font-size:18px;\n\tmargin-left: 0px;\n    margin-right: 0px;\n    width: 100%;\n}\nfieldset {\n    padding: 10px;\n}\n</style>\n<script>\nwindow.onload = function()\n{\n   //Pegando os valores na carga do app\n\tvar iof = 0.0638;\n\tvar impostoBR = 0.6;\n\tvar txDolar = {{{global.dTurismo}}}; //vai mudar para busca dinamica --- dolar turismo\n\tvar dife = {{{global.varBid}}};\n  var txtCad = {{{global.cad}}};\n  var difCad =  {{{global.cadVarBid}}};\n  var txtEur = {{{global.eur}}};\n  var difEur = {{{global.eurVarBid}}};\n  var txtGbp = {{{global.gbp}}};\n  var difGbp = {{{global.gbpVarBid}}};\n  var txtArs = {{{global.ars}}};\n  var difArs = {{{global.arsVarBid}}};\n  var txtBtc = {{{global.btc}}};\n  var difBtc = {{{global.cadVarBid}}};\n\n\tdocument.getElementById(\"impostoIOF\").innerHTML = \"💳 IOF \"+((iof*100).toLocaleString('pt-BR'))+\"%\";\n\t//document.getElementById(\"dolar\").innerHTML = \"Dolar Turismo: R$ \" +txDolar.toLocaleString('pt-BR');\n\tif (dife < 0){\n\t   var txtDif = \"😁\";\n\n\t} else if (dife == 0) {\n\t    var txtDif = \"😐\";\n\n\t}else {\n\t    var txtDif = \"😡\";\n\n\t}\n\t//document.getElementById(\"diff\").innerHTML = txtDif;\n\tdocument.getElementById(\"dolarturismo\").innerHTML = \"🇺🇸 R$ \" +txDolar.toLocaleString('pt-BR')+\" \"+txtDif;\n\tdocument.getElementById(\"impostoRFB\").innerHTML = \"📈 RFB \"+((impostoBR*100).toLocaleString('pt-BR'))+\"%\";\n\tdocument.getElementById(\"diff\").innerHTML = \"R$ \" +txDolar.toLocaleString('pt-BR')+\" \"+txtDif;\n\t\n\t//outras moedas\n\tdocument.getElementById(\"cad\").innerHTML = \"🇨🇦 R$ \" +txtCad.toLocaleString('pt-BR');\n\tdocument.getElementById(\"eur\").innerHTML = \"🇪🇺 R$ \" +txtEur.toLocaleString('pt-BR');\n\tdocument.getElementById(\"gbp\").innerHTML = \"🇬🇧 R$ \" +txtGbp.toLocaleString('pt-BR');\n\tdocument.getElementById(\"ars\").innerHTML = \"🇦🇷 R$ \" +txtArs.toLocaleString('pt-BR');\n\tdocument.getElementById(\"btc\").innerHTML = \"BTC$ R$ \" +txtBtc.toLocaleString('pt-BR');\n\n// Fixa o campo de entrada de valor, aceitando apenas valores em DOLAR\n    VMasker(document.getElementById(\"vl1\")).maskMoney({separator: ','});\n    VMasker(document.getElementById(\"vl1\")).maskMoney({delimiter: '.'});\n}\n</script>\n<script type=\"text/javascript\">\nfunction calcular() {\n\t//essa função tem q sair daqui e ir para outro local (sem acesso) aqui só deve aparecer o resultado\n\n  var iof = 0.0638;\n\tvar impostoBR = 0.6;\n\tvar txDolar = {{{global.dTurismo}}};\n\n//remove virgula e ponto\n   var preval1 = (document.frm01.vlrDolar.value).replace(\".\",\"\");\n   var preval = (preval1).replace(\",\",\".\");\n   console.log(\"Valor de Entrada: \"+preval);\n\n   var valor1 = preval;\n   console.log(\"VALOR DOLAR: \"+valor1);\n\n   var vlrIOF = valor1 * iof;\n   console.log(\"VALOR IOF: \"+vlrIOF);\n\n   var vlrIOF_Real = vlrIOF * txDolar;\n   console.log(\"VALOR IOF EM REAL: \"+vlrIOF_Real);\n\n   var resAVISTA = valor1 * txDolar;\n   console.log(\"RESULTADO AVISTA EM REAL: \"+resAVISTA);\n\n   var resCOMPRA_US = resAVISTA + vlrIOF_Real;\n   console.log(\"RESULTADO COMPRAS US CARTAO: \"+resCOMPRA_US);\n\n   var txRFB = resAVISTA * impostoBR;\n   console.log(\"TAXA 60%: \"+txRFB);\n\n   var resRFB = resCOMPRA_US + txRFB;\n   console.log(\"RESULTADO RFB: \"+resRFB);\n\n \tvalorAvista = parseFloat(Math.round(resAVISTA * 100) / 100).toFixed(2);\n\tvalorCartao = parseFloat(Math.round(resCOMPRA_US * 100) / 100).toFixed(2);\n\tvalorEntrega = parseFloat(Math.round(resRFB * 100) / 100).toFixed(2);\n\n   document.frm01.showBR.value = \"R$ \" +(valorAvista.replace(\".\" , \",\"));\n   document.frm01.showUS.value = \"R$ \" +(valorCartao.replace(\".\" , \",\"));\n   document.frm01.showRFB.value = \"R$ \" +(valorEntrega.replace(\".\" , \",\"));\n\n}\n</script>\n</head>\n<body>\n<div data-theme=\"b\" data-role=\"page\" class=\"jqm-demos ui-responsive-panel\" id=\"panel-responsive-page1\" data-title=\"Cálculo de Compras em Dolar\">\n\t<div data-role=\"header\" data-position=\"inline\">\n\t\t<div align=\"center\" data-role=\"controlgroup\" data-type=\"horizontal\" class=\"ui-corner-all\">\n\t\t\t<a href=\"#\" title=\"Refazer\" onclick=\"location.reload()\" class=\"ui-btn ui-shadow ui-corner-all ui-icon-refresh ui-btn-icon-notext ui-btn-inline\" id=\"b1\">Reiniciar</a>\n\t\t\t<a href=\"#\" class=\"ui-btn ui-corner-all\">Cálculadora de Compras</a>\n\t\t\t<a href=\"#graph\" class=\"ui-btn ui-shadow ui-corner-all\" data-iconpos=\"notext\" class=\"ui-btn ui-corner-all\" >📊</a>\n\t\t\t<a href=\"#add-form-info\" data-icon=\"info\" data-iconpos=\"notext\" class=\"ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-info ui-btn-inline ui-btn-icon-notext\" >Sobre</a>\n\t\t\t<a href=\"#add-form\" id=\"diff\" class=\"ui-btn ui-corner-all\">...</a>\n\t\t</div>\n\t</div>\n\t<div class=\"ui-content\" data-role=\"content\">\n\t\t<form action=\"calc.html\" name=\"frm01\" method=\"GET\">\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl1\" style=\"margin:-3px 2% 0px 0px\"><strong>Valor em (USD) 🇺🇸</strong></label>\n\t\t\t\t<input id=\"vl1\" type=\"text\" name=\"vlrDolar\" value=\"0,00\">\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<input type=\"button\" value=\"Converter para Real e Calcular\" class=\"botao\" onClick=\"calcular()\"/>\n\t\t\t</div>\n\t\t\t<div align=\"center\">\n                <script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script>\n                <!-- Calc_Tech -->\n                <ins class=\"adsbygoogle\"\n                     style=\"display:inline-block;width:320px;height:100px\"\n                     data-ad-client=\"ca-pub-9671027789462939\"\n                     data-ad-slot=\"7857746941\"></ins>\n                <script>\n                (adsbygoogle = window.adsbygoogle || []).push({});\n                </script>\n            </div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl2\" ><strong>À Vista 💵</strong></label>\n\t\t\t\t<input class=\"disabledInput\" id= \"vl2\" type=\"text\" name=\"showBR\" id=\"showBR\" readonly/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl3\" style=\"margin:-3px 2% 0px 0px\"><strong>Cartão de Crédito 💳</strong></label>\n\t\t\t\t<input id=\"vl3\" type=\"text\" name=\"showUS\" id=\"showUS\"  readonly/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl4\" style=\"margin:-3px 2% 0px 0px\"><strong>Entrega 🇧🇷</strong></label>\n\t\t\t\t<input id=\"vl4\" type=\"text\" name=\"showRFB\" id=\"showRFB\"  readonly/>\n\t\t\t</div>\n            <div align=\"center\">\n                <script async src=\"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script>\n                <!-- Calc_Tech -->\n                <ins class=\"adsbygoogle\"\n                     style=\"display:inline-block;width:320px;height:100px\"\n                     data-ad-client=\"ca-pub-9671027789462939\"\n                     data-ad-slot=\"7857746941\"></ins>\n                <script>\n                (adsbygoogle = window.adsbygoogle || []).push({});\n                </script>\n            </div>\n\t\t</form>\n\n\t</div>\n\t\t\t<!-- /panel -->\n\n\t<div data-role=\"panel\" data-position=\"right\" data-display=\"push\" data-theme=\"b\" id=\"add-form\">\n\n        <form class=\"userform\">\n\n        \t<h2>Cotações</h2>\n            <h3><label id=\"dolarturismo\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"cad\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"eur\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"gbp\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"ars\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"btc\" style=\"font-size:14px; padding:2px\"> </label></h3>\n            <h3><label id=\"horaAtual\" style=\"font-size:11px; padding:2px\">Atualizado em: {{{global.timeTurismo}}} </label></h3>\n            <hr>\n            <h2>Impostos</h2>\n            <h3><label id=\"impostoIOF\" style=\"font-size:14px; padding:2px\"> </label></h3>\n\t\t    <h3><label id=\"impostoRFB\" style=\"font-size:14px; padding:2px\"> </label></h3>\n        </form>\n\n\t</div><!-- /panel -->\n\t<div data-role=\"panel\" data-position=\"right\" data-display=\"overlay\" data-theme=\"b\" id=\"add-form-info\">\n\n        <form class=\"userform\">\n\n      <h1><strong>Atenção!</strong></h1>\n      <br>\n      <li>Os valores apresentados não devem ser considerados como valores finais dos produtos, existirão diferenças de tarifas cambiais<br></li>\n      <li>O cálculo de imposto da RFB pode variar de acordo com o bem que está sendo adquirido, pois esta versão do aplicativo não leva em conta o valor do frete.</li>\n      <br>\n      <h3>V1.7 <br><label id=\"created\" style=\"font-size:11px; padding:2px\">&#9400;2017 <a href=\"http://www.computercorp.com.br\" target=\"_blank\">Computer Corp</a>\n        <br>&#9400;2017 <a href=\"http://www.georgearaujo.com.br/\" target=\"_blank\">George Araujo</b></a></label></h3>\n\n\n        </form>\n\n  </div> \n      <div data-role=\"footer\" data-theme=\"b\">\n\t\t<h4>Calculadora de Compras V1.8 BETA</h4>\n\t</div><!-- /footer -->\n</div><!-- Final da Primeira Página -->\n<!-- Start of second page -->\n<div data-role=\"page\" id=\"graph\" class=\"ui-content\" data-theme=\"a\" style=\"background-color:#212121\">\n    <div data-role=\"header\" data-theme=\"a\">\n\t\t<h1>Gráfico de Variação do Dolar</h1>\n\t</div><!-- /header -->\n    <iframe src=\"/dolar\" width=\"100%\" height=\"550\" seamless=\"\"></iframe>\n    <p><a href=\"#hist\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b ui-bar-inherit\">Histórico</a></p>\n    <p><a href=\"#panel-responsive-page1\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b ui-bar-inherit\">Voltar</a></p>\n    <div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Última Atualização: {{{global.timeTurismo}}} </h4>\n\t</div><!-- /footer -->\n</div><!-- /page two -->\n</div><!-- Final da segunda pagina -->\n<!-- Start of thrid page -->\n<div data-role=\"page\" id=\"hist\" class=\"ui-content\" data-theme=\"a\" style=\"background-color:#212121\">\n    <div data-role=\"header\" data-theme=\"a\">\n\t\t<h1>Histórico de Variação do Dolar</h1>\n\t</div><!-- /header -->\n    <iframe src=\"/hist\" width=\"100%\" height=\"550\" seamless=\"\"></iframe>\n    <p><a href=\"#panel-responsive-page1\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b ui-bar-inherit\">Voltar</a></p>\n    <div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Última Atualização: {{{global.timeTurismo}}} </h4>\n\t</div><!-- /footer -->\n</div><!-- /page tree -->\n</div><!-- Final da terceira pagina -->\n\n</body>\n</html>\n","output":"str","x":490,"y":240,"wires":[["9b2fb8da.513d18"]]},{"id":"12dd4458.207a0c","type":"template","z":"92eb98f.b0f7268","name":"Code V1.0bkp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    \n<title>Calculadora de Muamba</title>\n<head>\n  <meta charset=\"utf-8\" />\n  <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0\" />\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\n  <title>Calculo de Compras nos EUA</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\" />\n  <script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  <script src=\"//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/highcharts.js\"></script>\n  <script src=\"//cdn.jsdelivr.net/npm/vanilla-masker@1.1.1/build/vanilla-masker.min.js\"></script>\n  <link href=\"//afeld.github.io/emoji-css/emoji.css\" rel=\"stylesheet\">\n<style>\n* {\n    box-sizing: border-box;\n}\nh4{\n\tfont-size: 11px;\n\tfont-style:oblique;\n\tfont-weight: bold;\n\ttext-align-last: left;\n}\nh5{\n\tfont-size: 10px;\n\tfont-style:oblique;\n\tfont-weight:lighter;\n\ttext-align-last: center;\n}\t\n\nbody{\n  font-size: 12px;\n  font-family: sans-serif;\n\n}\n\ninput[type=text], select, textarea{\n    width: 100%;\n    padding: 12px;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n    resize: vertical;\n}\n\nlabel {\n    padding: 12px 12px 12px 0;\n    display: inline-block;\n}\n\n\ninput[type=button] {\n    background-color: #4CAF50;\n    color: white;\n    padding: 12px 20px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    float: left;\n    font-size:12px;\n    font-family: sans-serif;\n}\ninput[type=reset] {\n    background-color: #4CAF50;\n    color: white;\n    padding: 12px 20px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    float: left;\n    font-size:12px;\n    font-family: sans-serif;\n}\n\ninput[type=button]:hover {\n    background-color: #45a049;\n}\ninput[type=reset]:hover {\n    background-color: #45a049;\n}\ninput[type=text], input[type=password], input[type=email] {\n    font-size: 20px;\n    box-sizing: border-box;\n}\n.container {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.col-25 {\n    float: left;\n    width: 25%;\n    margin-top: 6px;\n}\n\n.col-75 {\n    float: left;\n    width: 75%;\n    margin-top: 6px;\n}\n\n/* Clear floats after the columns */\n.row:after {\n    content: \"\";\n    display: table;\n    clear: both;\n}\n.disabledInput {\n    color: red;\n}\t\n\n\n/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */\n\n  @media only screen and (min-width: 521px){\n    #header1 {width: 475px !important;  margin:auto auto !important; position: relative !important; border:1px solid #cccccc;}\n    #c1 {width: 475px !important; min-height:500px !important; margin:auto auto !important; position: relative !important; border:1px solid #cccccc;}\n  }\n  .alert {font-weight: bold; color: #FF6C01;}\n  .smallin .ui-input-text {width: 200px !important; color:red;}\n  legend.h1lb {padding:10px 0 5px 0;}\n  .statusView {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#E9E9E9; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }\n  .statusViewAlert {width: 100% !important;  margin:0px; position: relative !important; height:28px; padding:10px 0 0 0; background-color:#F8B584 !important; font-weight:bold; -webkit-border-radius: 0.7em !important; border-radius: 0.7em; display:none; text-align:center; }\n  .ui-flipswitch {\"border-radius: 2em !important; -webkit-border-radius: 2em !important; -moz-border-radius: 2em !important;}\n  /* Active button */\n  .ui-page-theme-a .ui-btn.ui-btn-active,html .ui-bar-a .ui-btn.ui-btn-active,html .ui-body-a .ui-btn.ui-btn-active,html body .ui-group-theme-a .ui-btn.ui-btn-active,html head + body .ui-btn.ui-btn-a.ui-btn-active,\n  /* Active checkbox icon */\n  .ui-page-theme-a .ui-checkbox-on:after,html .ui-bar-a .ui-checkbox-on:after,html .ui-body-a .ui-checkbox-on:after,html body .ui-group-theme-a .ui-checkbox-on:after,.ui-btn.ui-checkbox-on.ui-btn-a:after,\n  /* Active flipswitch background */.ui-page-theme-a .ui-flipswitch-active,html .ui-bar-a .ui-flipswitch-active,html .ui-body-a .ui-flipswitch-active,html body .ui-group-theme-a .ui-flipswitch-active,\n  html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,\n  /* Active slider track */\n  .ui-page-theme-a .ui-slider-track .ui-btn-active,html .ui-bar-a .ui-slider-track .ui-btn-active,html .ui-body-a .ui-slider-track .ui-btn-active,html body .ui-group-theme-a .ui-slider-track .ui-btn-active,html body div.ui-slider-track.ui-body-a .ui-btn-active {\n    background-color: \t\t#FF6C01 !important;\n    border-color:\t \t\t#FF6C01 !important;\n    color: \t\t\t\t\t#fff /*{a-active-color}*/;\n    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;\n  }\n  .col-25, .col-75, input[type=button] {\n      width: 100%;\n      margin-top: 0;\n  }\n  .col-25, .col-75, input[type=reset] {\n      width: 100%;\n      margin-top: 0;\n  }\n\ninput[type=text], input[type=password], input[type=email] {\n    font-size:18px;\n\tmargin-left: 0px;\n    margin-right: 0px;\n    width: 100%;\n}\nfieldset {\n    padding: 10px;\n}\n</style>\n<script>\nwindow.onload = function() \n{  \n   //Pegando os valores na carga do app\n\tvar iof = 0.0638;\n\tvar impostoBR = 0.6;\n\tvar txDolar = {{{global.dTurismo}}}; //vai mudar para busca dinamica --- dolar turismo\n\tdocument.getElementById(\"impostoIOF\").value = ((iof*100).toLocaleString('pt-BR'))+\"%\";\n\t//document.getElementById(\"dolar\").innerHTML = \"Dolar Turismo: R$ \" +txDolar.toLocaleString('pt-BR');\n\tdocument.getElementById(\"dolarturismo\").value = \"R$ \" +txDolar.toLocaleString('pt-BR');\n\tdocument.getElementById(\"impostoRFB\").value = ((impostoBR*100).toLocaleString('pt-BR'))+\"%\";\n\n// Fixa o campo de entrada de valor, aceitando apenas valores em DOLAR\n    VMasker(document.getElementById(\"vl1\")).maskMoney({separator: ','});\n    VMasker(document.getElementById(\"vl1\")).maskMoney({delimiter: '.'});\n}\n</script>\n<script type=\"text/javascript\">\nfunction calcular() {\n\t//essa função tem q sair daqui e ir para outro local (sem acesso) aqui só deve aparecer o resultado\n   \n   \tvar iof = 0.0638;\n\tvar impostoBR = 0.6;\n\tvar txDolar = {{{global.dTurismo}}};\n\n//remove virgula e ponto\n   var preval1 = (document.frm01.vlrDolar.value).replace(\".\",\"\");\n   var preval = (preval1).replace(\",\",\".\");\n   console.log(\"Valor de Entrada: \"+preval);\n\n   var valor1 = preval;\n   console.log(\"VALOR DOLAR: \"+valor1);\n\n   var vlrIOF = valor1 * iof;\n   console.log(\"VALOR IOF: \"+vlrIOF);\n\n   var vlrIOF_Real = vlrIOF * txDolar;\n   console.log(\"VALOR IOF EM REAL: \"+vlrIOF_Real);\n\n   var resAVISTA = valor1 * txDolar;\n   console.log(\"RESULTADO AVISTA EM REAL: \"+resAVISTA);\n\n   var resCOMPRA_US = resAVISTA + vlrIOF_Real;\n   console.log(\"RESULTADO COMPRAS US CARTAO: \"+resCOMPRA_US);\n\n   var txRFB = resAVISTA * impostoBR;\n   console.log(\"TAXA 60%: \"+txRFB);\n\n   var resRFB = resCOMPRA_US + txRFB;\n   console.log(\"RESULTADO RFB: \"+resRFB);\n\n \tvalorAvista = parseFloat(Math.round(resAVISTA * 100) / 100).toFixed(2);\n\tvalorCartao = parseFloat(Math.round(resCOMPRA_US * 100) / 100).toFixed(2);\n\tvalorEntrega = parseFloat(Math.round(resRFB * 100) / 100).toFixed(2);\n\t\n   document.frm01.showBR.value = \"R$ \" +(valorAvista.replace(\".\" , \",\"));\n   document.frm01.showUS.value = \"R$ \" +(valorCartao.replace(\".\" , \",\"));\n   document.frm01.showRFB.value = \"R$ \" +(valorEntrega.replace(\".\" , \",\"));\n\n}\n</script>\n</head>\n<body>\n<div data-role=\"page\" class=\"jqm-demos ui-responsive-panel\" id=\"panel-responsive-page1\" data-title=\"Cálculo de Compras em Dolar\">\n  <div id=\"header1\" data-role=\"header\">\n      <h1 style=\"color:green;font-size: 14px;\">Cálculo de Compras</h1>\n\t<a href=\"#\" title=\"Refazer\" onclick=\"location.reload()\" class=\"ui-btn ui-shadow ui-corner-all ui-icon-refresh ui-btn-icon-notext ui-btn-inline\" id=\"b1\">Reiniciar</a>\n\t<a href=\"#add-form\" data-icon=\"gear\" data-iconpos=\"notext\">Configuração</a>\n</div>\n\t<div id=\"c1\" class=\"ui-content\">\n\t\t<form action=\"calc.html\" name=\"frm01\" method=\"GET\">\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl1\" style=\"margin:-3px 2% 0px 0px\"><strong>Valor em (USD) 🇺🇸</strong></label>\n\t\t\t\t<input id=\"vl1\" type=\"text\" name=\"vlrDolar\" value=\"0,00\">\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<input type=\"button\" value=\"Converter para Real e Calcular\" class=\"botao\" onClick=\"calcular()\"/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl2\" ><strong>À Vista 💵</strong></label>\n\t\t\t\t<input class=\"disabledInput\" id= \"vl2\" type=\"text\" name=\"showBR\" id=\"showBR\" disabled=\"true\"/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl3\" style=\"margin:-3px 2% 0px 0px\"><strong>Cartão de Crédito 💳</strong></label>\n\t\t\t\t<input id=\"vl3\" type=\"text\" name=\"showUS\" id=\"showUS\"  disabled=\"true\"/>\n\t\t\t</div>\n\t\t\t<div class=\"ui-field-contain\">\n\t\t\t\t<label for=\"vl4\" style=\"margin:-3px 2% 0px 0px\"><strong>Entrega 🇧🇷</strong></label>\n\t\t\t\t<input id=\"vl4\" type=\"text\" name=\"showRFB\" id=\"showRFB\"  disabled=\"true\"/>\n\t\t\t</div>\n\n\t\t</form>\n\n\t</div>\n\t\t\t<!-- /panel -->\n\n\t<div data-role=\"panel\" data-position=\"right\" data-display=\"overlay\" data-theme=\"b\" id=\"add-form\">\n\n        <form class=\"userform\">\n\n        \t<h2>Configurações</h2>\n\t\t\n\t\t\t<h3>Cotações consideradas</h3>\n            <label for=\"dolarturismo\">Dolar Turismo</label>\n            <input type=\"text\" name=\"dolarT\" id=\"dolarturismo\" value=\"\" disabled=\"true\">\n\n            <label for=\"impostoIOF\">IOF</label>\n            <input type=\"text\" name=\"impostoIOF\" id=\"impostoIOF\" value=\"\" disabled=\"true\">\n\t\t\t<label for=\"impostoRFB\">Imposto RFB</label>\n            <input type=\"text\" name=\"impostoRFB\" id=\"impostoRFB\" value=\"\" disabled=\"true\">\n\t\t\t\n\t\t\t<h3>Criado por: <br><label id=\"created\" style=\"font-size:11px; padding:2px\">&#9400; <a href=\"http://www.computercorp.com.br\" target=\"_blank\">ComputerCorp</a>\n\t\t    <br>&#9400;<a href=\"http://www.georgearaujo.com.br/\" target=\"_blank\"> georgearaujo</b></a></label></h3>\n            \n            <h4>Atenção</h4>\n\t\t\t<h4 style=\"color:grey;\">Os valores acima não devem ser considerados &nbsp;como valores finais dos produtos, existirão diferenças de tarifas cambiais, e o cálculo da RFB pode variar de acordo com o bem que está sendo adquirido.</h4>\n\t\t\t<h4><label id=\"ip\" style=\"font-size:11px; padding:2px\">Seu IP: {{global.meuIP}} </label></h4>\n\t\t\t\n        </form>\n\n\t</div><!-- /panel -->\n\t</div>\n\n</body>\n</html>\n","output":"str","x":500,"y":120,"wires":[[]]},{"id":"4a3da48.d20175c","type":"http request","z":"92eb98f.b0f7268","name":"Cotacao_Historica","method":"GET","ret":"obj","url":"http://economia.awesomeapi.com.br/USD-BRLT/1?format=json","tls":"","x":330,"y":900,"wires":[["fc2a723e.722af"]]},{"id":"34e846b7.6723aa","type":"function","z":"92eb98f.b0f7268","name":"Pega_Cotacao","func":"msg.topic=\"Cambio\";\nvalor = msg.payload.ask;\ndata = msg.payload.create_date;\nmsg.payload.valor = valor\nmsg.payload.data = data\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":900,"wires":[["fb23e06b.e83f"]]},{"id":"67262275.49938c","type":"inject","z":"92eb98f.b0f7268","name":"GravaCotacaoDB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":840,"wires":[["4a3da48.d20175c"]]},{"id":"76eefb8a.327364","type":"function","z":"92eb98f.b0f7268","name":"SeparaREQ","func":"msg.topic=\"REQ\";\nmsg.acesso=msg.payload.ip;\nmsg.data = msg.payload.date;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":980,"wires":[["92ad3181.20dc3"]]},{"id":"c35c9cf1.0a65","type":"function","z":"92eb98f.b0f7268","name":"separa_cotacao","func":"msg.topic=\"cotacao\";\nmsg.valor=msg.payload.valor;\nmsg.data = msg.payload.data;\nmsg.payload.valor = msg.valor;\nmsg.payload.data = msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1000,"wires":[[]]},{"id":"b45c214e.dba38","type":"http request","z":"92eb98f.b0f7268","name":"Cotacao_ALL","method":"GET","ret":"obj","url":"http://economia.awesomeapi.com.br/all","tls":"","x":380,"y":420,"wires":[["2f458878.d16908"]]},{"id":"2f458878.d16908","type":"function","z":"92eb98f.b0f7268","name":"Outras Cotacoes","func":"msg.topic=\"cambio_all\";\n\n//Dolar_Canadense\nglobal.set(\"cad\",msg.payload.CAD.ask);\nglobal.set(\"cadVarBid\",msg.payload.CAD.varBid);\nglobal.set(\"cadTime\",msg.payload.CAD.create_date);\n\n//Euro\nglobal.set(\"eur\",msg.payload.EUR.ask);\nglobal.set(\"eurVarBid\",msg.payload.EUR.varBid);\nglobal.set(\"eurTime\",msg.payload.EUR.create_date);\n\n//Libra\nglobal.set(\"gbp\",msg.payload.GBP.ask);\nglobal.set(\"gbpVarBid\",msg.payload.GBP.varBid);\nglobal.set(\"gbpTime\",msg.payload.GBP.create_date);\n\n//Peso Argentino\nglobal.set(\"ars\",msg.payload.ARS.ask);\nglobal.set(\"arsVarBid\",msg.payload.GBP.varBid);\nglobal.set(\"arsTime\",msg.payload.GBP.create_date);\n\n//Bitcoin\nglobal.set(\"btc\",msg.payload.BTC.ask);\nglobal.set(\"btcVarBid\",msg.payload.BTC.varBid);\nglobal.set(\"btcTime\",msg.payload.BTC.create_date);","outputs":1,"noerr":0,"x":630,"y":420,"wires":[[]]},{"id":"77dcf1fd.89d9","type":"debug","z":"92eb98f.b0f7268","name":"ALL","active":false,"console":"false","complete":"true","x":870,"y":420,"wires":[]},{"id":"8209a3b2.00d76","type":"http in","z":"92eb98f.b0f7268","name":"","url":"/dolar","method":"get","upload":false,"swaggerDoc":"","x":99,"y":180,"wires":[[]]},{"id":"cd432284.7ba78","type":"template","z":"92eb98f.b0f7268","name":"Mostra Histórico de Dolar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n\n<title>Evolução da Cotação do Dolar</title>\n<head>\n    <!-- Global site tag (gtag.js) - Google Analytics -->\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-114873381-1\"></script>\n    <script>\n      window.dataLayer = window.dataLayer || [];\n      function gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n    \n      gtag('config', 'UA-114873381-1');\n    </script>\n    \n    <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n    <link rel=\"shortcut icon\" href=\"www.techcetera.com.br/favcalc.ico\">\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script src='https://www.google.com/jsapi'></script>\n    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>\n</head>\n<body style=\"background-color:#212121;\">\n    <div id=\"chart_div\" style=\"width: 100%; min-height:500px;\"></div>\n<script>\nvar text = \"\";\nvar result = [];\nvar data = [];\nvar nresult=[];\nvar ndata=[];\nvar linha=[];\nvar cotacao = \"{{{payload.valor}}}\";\nvar data2 = \"{{{payload.dia}}}\";\nresult = cotacao.split(\",\");\ndata = data2.split(\",\");\n\n//tamanho total dos vetores\nvar i = data.length-1;\nvar lf = data.length-1;\nvar k =0;\n\nvar a=lf/4;\nvar b=a/4;\nvar c=b/4;\nvar d=c/4;\n\n//quanto eu desejo mostrar? na verdade 9... mas aqui... 2... \n//o tamanho da amostra é sempre fixo... o q varia é o tamanho total do vetor\n//entao... i = length e lf = 2 lá no oficial é 9... vamos testar.\nfor (j=0; j < lf; j++){\n    nresult[j] = Number(result[i-j])\n    ndata[j] = data[i-j]\n}\n\n//Invertendo os Resultados  \nnresult.reverse();\nndata.reverse();\n//\n\ngoogle.charts.load('current', {packages: ['corechart', 'line']});\ngoogle.charts.setOnLoadCallback(drawChart);\n\n    function drawChart() {\n      // Define the chart to be drawn.\n      var data = new google.visualization.DataTable();\n      \n      \n        data.addColumn('string', 'DIAS');\n        data.addColumn('number', 'Variação do USD em Real');\n        for (k=0; k <lf ; k++){\n       \t data.addRows([\n          //tem q pegar o vetor de data e colocar item a item como está abaixo...\n           [ndata[k], nresult[k]]\n       \t ]);\n\t    }\n\n      var options = {\n       //curveType: 'function',\n       legend: { \n       \t   position: 'top',\n           textStyle: {\n           color: '#fff',\n        },          \n       },\n       //pointsVisible: true,\n        hAxis: {\n          title: 'HISTÓRICO DESDE '+ndata[0],\n           textStyle: {\n             color: '#212121',\n        \t},\n\t\t\ttitleTextStyle: {\n             color: 'white',\n            //bold: true\n         \t }\n          },\n        vAxis: {\n          title: 'VALOR',\n          format: 'currency',\n          textStyle: {\n              color: '#fff',\n        \t\t},\n          titleTextStyle: {\n            color: 'white',\n            bold: true\n          }\n\n        },\n        chartArea:{\n            backgroundColor:'#444444',\n        },\n        \n\t\tbackgroundColor: {\n          fill: '212121',\n        },\n       colors: ['red']\n      };\n\n      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));\n\n      chart.draw(data, options);\n    }//EOF drawChart\n //configure resposnive\n $(window).resize(function(){\n  drawChart();\n });\n\n</script>\n\n</body>\n</html>","output":"str","x":710,"y":540,"wires":[["ab44af9d.edb17"]]},{"id":"427bf6a.eb06208","type":"http response","z":"92eb98f.b0f7268","name":"historico_dolar","statusCode":"","headers":{},"x":880,"y":620,"wires":[]},{"id":"605171a6.a7c0c","type":"http request","z":"92eb98f.b0f7268","name":"Lê DB","method":"GET","ret":"obj","url":"https://b7c2e767-b54a-4d93-9d94-998422d610e2-bluemix.cloudant.com/historico/_design/cotacoes/_view/cotacoes","tls":"","x":250,"y":520,"wires":[["f410934e.2b694"]]},{"id":"f410934e.2b694","type":"function","z":"92eb98f.b0f7268","name":"Pega Dados DB","func":"var max = msg.payload.total_rows;\nvar i;\nvar valores =[];\nvar dia=[];\nfor (i=0; i < max; i++){\n    valores[i] = msg.payload.rows[i].value;\n    dia[i] = msg.payload.rows[i].key;\n}\nmsg.payload.valor = valores;\nmsg.payload.dia = dia;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":560,"wires":[["cb4b2378.a23ac"]]},{"id":"cb4b2378.a23ac","type":"template","z":"92eb98f.b0f7268","name":"Dolar_Dia","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n\n<title>Evolução da Cotação do Dolar</title>\n<head>\n    <!-- Global site tag (gtag.js) - Google Analytics -->\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-114873381-1\"></script>\n    <script>\n      window.dataLayer = window.dataLayer || [];\n      function gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n    \n      gtag('config', 'UA-114873381-1');\n    </script>\n    \n    <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n    <link rel=\"shortcut icon\" href=\"www.techcetera.com.br/favcalc.ico\">\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script src='https://www.google.com/jsapi'></script>\n    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>\n</head>\n<body style=\"background-color:#212121;\">\n    <div id=\"chart_div\" style=\"width: 100%; min-height:500px;\"></div>\n<script>\nvar text = \"\";\nvar result = [];\nvar data = [];\nvar nresult=[];\nvar ndata=[];\nvar linha=[];\nvar cotacao = \"{{{payload.valor}}}\";\nvar data2 = \"{{{payload.dia}}}\";\nresult = cotacao.split(\",\");\ndata = data2.split(\",\");\n\n//tamanho total dos vetores\nvar i = data.length-1;\nvar lf = 18;\nvar k =0;\n\n//quanto eu desejo mostrar? na verdade 9... mas aqui... 2... \n//o tamanho da amostra é sempre fixo... o q varia é o tamanho total do vetor\n//entao... i = length e lf = 2 lá no oficial é 9... vamos testar.\nfor (j=0; j < lf; j++){\n    nresult[j] = Number(result[i-j])\n    ndata[j] = data[i-j]\n  //linha[j] = '\"'+data[i-j]+'\"'+ Number(result[i-j])\n  }\n\n//Invertendo os Resultados  \nnresult.reverse();\nndata.reverse();\n//\n\ngoogle.charts.load('current', {packages: ['corechart', 'line']});\ngoogle.charts.setOnLoadCallback(drawChart);\n\n    function drawChart() {\n      // Define the chart to be drawn.\n      var data = new google.visualization.DataTable();\n      \n      \n        data.addColumn('string', 'DIAS');\n        data.addColumn('number', 'Variação do USD em Real');\n        for (k=0; k < lf; k++){\n       \t data.addRows([\n          //tem q pegar o vetor de data e colocar item a item como está abaixo...\n           [ndata[k], nresult[k]]\n       \t ]);  \n\t    }\n\n      var options = {\n       //curveType: 'function',\n       legend: { \n       \t   position: 'top',\n           textStyle: {\n           color: '#fff',\n        },          \n       },\n       pointsVisible: true,\n        hAxis: {\n          title: '2 DIAS',\n           textStyle: {\n              color: '#fff',\n        \t\t},\n\t\t\t\t\t titleTextStyle: {\n            color: 'white',\n            //bold: true\n         \t }\n          },\n        vAxis: {\n          title: 'VALOR',\n          format: 'currency',\n          textStyle: {\n              color: '#fff',\n        \t\t},\n          titleTextStyle: {\n            color: 'white',\n            bold: true\n          }\n\n        },\n        chartArea:{\n            backgroundColor:'#444444',\n        },\n        \n\t\tbackgroundColor: {\n          fill: '212121',\n        },\n       colors: ['red']\n      };\n\n      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));\n\n      chart.draw(data, options);\n    }//EOF drawChart\n //configure resposnive\n $(window).resize(function(){\n  drawChart();\n });\n\n</script>\n\n</body>\n</html>","output":"str","x":640,"y":620,"wires":[["427bf6a.eb06208"]]},{"id":"fc2a723e.722af","type":"split","z":"92eb98f.b0f7268","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":510,"y":900,"wires":[["34e846b7.6723aa"]]},{"id":"fb23e06b.e83f","type":"change","z":"92eb98f.b0f7268","name":"Deleta Quase Tudo","rules":[{"t":"delete","p":"payload.code","pt":"msg"},{"t":"delete","p":"payload.codein","pt":"msg"},{"t":"delete","p":"payload.name","pt":"msg"},{"t":"delete","p":"payload.high","pt":"msg"},{"t":"delete","p":"payload.low","pt":"msg"},{"t":"delete","p":"payload.pctChange","pt":"msg"},{"t":"delete","p":"payload.open","pt":"msg"},{"t":"delete","p":"payload.bid","pt":"msg"},{"t":"delete","p":"payload.ask","pt":"msg"},{"t":"delete","p":"payload.varBid","pt":"msg"},{"t":"delete","p":"payload.timestamp","pt":"msg"},{"t":"delete","p":"payload.create_date","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":820,"wires":[["5141c5ea.4f103c"]]},{"id":"9a4b8879.e4b538","type":"http in","z":"92eb98f.b0f7268","name":"","url":"/hist","method":"get","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[[]]},{"id":"86a3e.c0dcb5c2","type":"http request","z":"92eb98f.b0f7268","name":"Lê DB_2","method":"GET","ret":"obj","url":"https://b7c2e767-b54a-4d93-9d94-998422d610e2-bluemix.cloudant.com/historico/_design/cotacoes/_view/cotacoes","tls":"","x":260,"y":480,"wires":[["765f25db.7d17ec"]]},{"id":"765f25db.7d17ec","type":"function","z":"92eb98f.b0f7268","name":"Pega Dados DB","func":"var max = msg.payload.total_rows;\nvar i;\nvar valores =[];\nvar dia=[];\nfor (i=0; i < max; i++){\n    valores[i] = msg.payload.rows[i].value;\n    dia[i] = msg.payload.rows[i].key;\n}\nmsg.payload.valor = valores;\nmsg.payload.dia = dia;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["cd432284.7ba78"]]},{"id":"ab44af9d.edb17","type":"http response","z":"92eb98f.b0f7268","name":"historico_geral","statusCode":"","headers":{},"x":960,"y":540,"wires":[]},{"id":"f31b63aa.0f634","type":"git-nodes","z":"92eb98f.b0f7268","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib,flows.json","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"d29f1568.92eed8","x":115.5,"y":1238,"wires":[]}]